/* account app style */

/* general style */
body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

/*
p {
    line-height: 1.5rem;
}
*/

a {
    color: rgb(27,121,255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
p, h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}
*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

/*
h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}
*/

ol {
    line-height:1.2;
}

/* header */
#header {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*position: fixed;*/
    font-size: 18px;
    /*text-align: center;*/
    background: rgb(64,89,219);
    background: linear-gradient(15deg, rgba(64,89,219,1) 0%, rgba(86,144,232,1) 50%, rgba(67,184,188,1) 100%);
    /*overflow: auto;*/
}

#header .logo {
    float: left;
    color: black; /*#F9F9F9;*/
    font-size: 23px;
    margin-right: 1rem;
}

#header ul.menu {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    /*display: inline;*/
}

#header ul.menu {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
#header ul.menu li {
    float:left;
    padding:4px 10px;
}

#header ul.menu li.selected, #header ul.menu li.selected {
    font-weight: bold;
}

#header a {
    color: black;
}

#header a:hover {
    text-decoration: underline;
}

#header .user {
    float: right;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

#header .user-dropdown-content {
    display: none;

    /* to make it not overflow right side of page */
    left: auto !important;
    right: 1em !important;

    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#header .user-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#header .user:hover .user-dropdown-content {
    display: block;
}
#header .user-dropdown-content a:hover {
    text-decoration: underline;
}
#header .logoutForm {
    display: block;
}
#header .logoutButton {
    background: none;
    border: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    cursor: pointer;
}
#header .logoutButton:hover {
    text-decoration: underline;
}

/* page content style */
#content {
    padding: 1rem 10rem;
    margin: 1rem auto;
    width: 80%;
    max-width: 700px;
    background-color: white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    text-align: left;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
}

/* Profile view */
.profile {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 0.6rem;
    border-bottom: 1px solid #bbb;
    gap: 28px;
}
.profile .text-container {
    margin-block-start: 0.5em;
}
#FN {
    font-size: 1.75rem;
}

.vcardGroup {
    display: flex;
    /*align-items: center;*/
    gap: 28px;

    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
}
.vcardGroup ul, ol {
    padding-inline-start: 1em;
}
.vcardGroup li {
    margin-block-start: 1em;
}
.vcardGroup p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.vcardGroup h3 {
    /*display: block;*/
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.profilePhoto {
    border-radius: 50%;
}

.profilePhoto.container {
    /*width: 200px;
    height: 200px;
    line-height: 200px;*/
    background: linear-gradient(45deg, rgba(170,170,170,1) 0%, rgba(240,240,240,1) 50%, rgba(170,170,170,1) 100%);
    text-align: center;
    font-family: sans-serif;
}

.profilePhoto.container.large {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 90px;
}
.profilePhoto.container.small {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 45px;
}

/* profile edit form */
.phone-form,
.email-form,
.url-form,
.address-form,
.org-form,
.tag-form, {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.linked::after {
    content: " - linked";
    font-size: 0.8rem;
    font-style: italic;
    color: Gray;
}