body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

p {
    line-height: 1.5;
}

a {
    color: rgb(27,121,255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }

h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

ol {
    line-height:1.2;
}

#header {
    padding:20px 100px;
    font-size:18px;
    background: rgb(64,89,219);
    background: linear-gradient(15deg, rgba(64,89,219,1) 0%, rgba(86,144,232,1) 50%, rgba(67,184,188,1) 100%);
    overflow: auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color: rgb(239, 244, 252);
    font-size:20px;
    margin-right:10%;
}

#header ul.menu {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
#header ul.menu li {
    float:left;
    padding:4px 10px;
}

#header ul.menu li.selected, #header ul.menu li.selected {
    font-weight: bold;
}

#header a {
    color: black;
}

#header a:hover {
    color: rgb(239, 244, 252);
    text-decoration: none;
}

#header .user {
    float: right;
    padding-top: 4px;
}

#content {
    padding:30px 10rem;
}