{% extends "base.html" %}
{% load static %}

{% block title %}Contacts{% endblock %}

{% block content %}

<div class="d-flex justify-content-center min-vh-100">
    <div class="align-self-center">
        <div class="d-flex justify-content-center mb-3">
            <img src="{% static 'images/favicon.webp' %}" alt="Contacts Logo" width="64" height="64" class="">
        </div>
        <div class="d-flex justify-content-center mb-3">
            <h1 class="fw-bold">Professional, private, digital profiles</h1>
        </div>
    </div>
</div>

{% endblock %}