{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load profile_extras %}

{% block title %}
My Content
{% endblock %}

{% block content %}

<h1>My Content</h1>
<p>Hey {{ request.user.username }}, here's all your content.</p>
<p>Mix and match these items in your <a href="{% url 'profile_list' %}">profiles</a>.</p>
<a href="{% url 'add_item' %}" class="btn btn-primary">Add Content</a>
<hr />

{% for content_type, objs in content_dict.items %}
<div class="card mb-3">
    <div class="card-header">
        {{ content_type|title }}
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            {% for obj in objs %}
            <li class="list-group-item">
                {{ obj.render|safe }}
                {% with related=obj.content_related.all %}
                {% if related %}
                <p>
                    <span class="text-muted">Profiles: </span>
                    {% for r in related %}
                    <a href="{{ r.profile.get_absolute_url }}">{{ r.profile.title }}</a>
                    {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
                {% endwith %}

                <div class="d-flex flex-row">
                    {% with mod_name=obj|model_name|lower %}
                    <a
                        {% if mod_name == 'link' %}
                        href="{% url 'item_update' obj.linkbase.svg_id obj.pk %}"
                        {% else %}
                        href="{% url 'item_update' mod_name obj.pk %}"
                        {% endif %}
                        class="btn btn-secondary btn-sm me-1">
                        Edit
                    </a>
                    <form
                            method="post"
                            onsubmit="return confirm('Are you sure you wish to delete?\nThis {{ mod_name }} will be removed from any profiles it appears in.');"
                            {% if mod_name == 'link' %}
                            action="{% url 'item_delete' obj.linkbase.svg_id obj.pk %}">
                            {% else %}
                            action="{% url 'item_delete' mod_name obj.pk %}">
                            {% endif %}
                      <button class="btn btn-danger btn-sm me-1" type="submit" value="deleted">Delete</button>
                      {% csrf_token %}
                    </form>
                    {% endwith %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% empty %}
You don't have any content yet.
{% endfor %}

{% endblock %}