{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load profile_extras %}

{% block title %}
My Content
{% endblock %}

{% block content %}

<h1>My Content</h1>
<p class="mb-3"><a href="{% url 'add_item' %}" class="btn btn-primary">Add Content</a></p>

{% for category, mods in content_dict.items %}
<div class="my-4">
    <h4 class="my-3">{{ category }}</h4>
    {% for mod, objs in mods.items %}
    {% with mod_name=mod|cut:' '|lower %}
    <div class="px-3">
        <h5 class="d-flex align-content-between">
            <span class="me-auto">{{ mod }}</span>
            {% comment %}
            {# not using this bc the cancel button on the new page redirects to content/new not content/ #}
            <a
                    href="{% url 'item_create' mod_name %}"
                    type="button"
                    class="ms-2 btn btn-sm btn-outline-primary"
                    title="New {{ mod }}">
                <svg width="16" height="16" class="bi mb-1" fill="currentColor">
                    <use href="{% static 'svg_spiritsheet.svg' %}#plus"></use>
                </svg>
                New {{ mod }}
            </a>
            {% endcomment %}
        </h5>
        <ul class="ps-0">
            {% for obj in objs %}

            <li class="card mb-3 overflow-x-scroll">
                <div class="card-body p-2 d-flex justify-content-between align-items-center">
                    <div class="card-text ms-2 overflow-auto">
                        {{ obj.render|safe }}
                    </div>

                    <div class="align-self-start btn-group dropdown-start">
                        <button type="button" class="me-2 btn btn-sm btn-outline-light border border-0 rounded" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg width="16" height="16" class="bi">
                                <use href="{% static 'svg_spiritsheet.svg' %}#three-dots"></use>
                            </svg>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                        href="{% url 'item_update' mod_name obj.pk %}"
                                        class="dropdown-item"
                                        role="button"
                                        title="Edit">
                                    <svg class="bi" width="16" height="16">
                                       <use href="{% static 'svg_spiritsheet.svg' %}#pencil-square"></use>
                                    </svg>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <form
                                        method="post"
                                        onsubmit="return confirm('This {{ mod_name }} will be removed from any profiles it appears in.\nAre you sure you wish to delete?');"
                                        action="{% url 'item_delete' mod_name obj.pk %}">
                                    <button class="dropdown-item btn btn-link link-danger" type="submit" value="deleted" title="Delete">
                                        <svg class="bi text-danger" width="16" height="16" fill="currentColor">
                                            <use href="{% static 'svg_spiritsheet.svg' %}#trash"></use>
                                        </svg>
                                        Delete
                                    </button>
                                    {% csrf_token %}
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                {% with related=obj.content_related.all attached=obj.subcontent_related.all %}
                {% if related or attached %}
                <div class="card-footer">
                    {% if related %}
                    <p class="card-text mb-0">
                        <span class="text-muted">Profiles: </span>
                        {% for r in related %}
                        <a href="{{ r.profile.get_absolute_url }}#content{{ r.pk }}">{{ r.profile.title }}</a>
                        {% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% if attached %}
                    <p class="card-text mt-0 mb-0">
                        <span class="text-muted">Attached on: </span>
                        {% for att in attached %}
                        <a href="{{ att.content.profile.get_absolute_url }}#attached{{ att.pk }}">{{ att.content.profile.title }}</a>
                        {% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
                {% endif %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endwith %}
    {% endfor %}
</div>

{% empty %}
You don't have any content yet.
{% endfor %}

{% endblock %}