{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">Contacts</span>
    {% if request.user.is_authenticated %}
      <ul class="menu">
        <li {% if section == "profile" %}class="selected"{% endif %}>
          <a href="{% url "profile" %}">Profile</a>
        </li>
        <li {% if section == "connections" %}class="selected"{% endif %}>
          <a href="{% url "connection_list" %}">Connections</a>
        </li>
        <li {% if section == "messaging" %}class="selected"{% endif %}>
          <a href="#">Messaging</a>
        </li>
      </ul>
    {% endif %}
    <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }} &#9660
        <div class="user-dropdown-content">
          <a href="{% url "edit" %}">Edit Profile</a>
          <a href="{% url "password_change" %}">Change Password</a>
          <!-- https://stackoverflow.com/a/33880971 -->
          <form action="{% url "logout" %}" method="post" class="logoutForm">
            <button type="submit" class="logoutButton">Logout</button>
            {% csrf_token %}
          </form>
        </div>
      {% else %}
        <a href="{% url "login" %}">Log-in</a>
      {% endif %}
    </span>
  </div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
<footer>
  <p>Footer info will go here. All rights reserved etc...</p>
</footer>
</html>