{% extends "base.html" %}
{% load static %}
{% load profile_extras %}

{% block title %}
{% if profile.user == request.user %}
{{ profile.title }}
{% else %}
{{ profile.fn }}
{% endif %}
| Profile
{% endblock %}

{% block content %}

{# user profile details #}
{% if profile.user == request.user %}
<div class="d-md-flex align-items-end">
  <div class="p-2">
    <h1 class>{{ profile.title }} Profile</h1>
    <p class="text-muted fst-italic">Kind: {{ profile.get_kind_display }}</p>
  </div>
  {% if profile.description %}
  <div class="ms-3 bg-black">
    <p class="p-2 border-start">{{ profile.description }}</p>
  </div>
  {% endif %}
</div>
{% endif %}

{% if profile.user == request.user %}
{# from bootstrap https://htmx.org/examples/modal-bootstrap/ #}
{# share profile modal and update image #}
<div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div id="update-img-model"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endif %}

{% if profile.user == request.user %}
<div class="container d-flex flex-row justify-content-end">
  {% comment %}
  <button
    hx-get="#" {# url share #}
    hx-target="#modals-here"
    hx-trigger="click"
    data-bs-toggle="modal"
    data-bs-target="#modals-here"
    class="btn btn-dark me-3">Share</button>
  <a class="btn btn-dark me-3" href="#">Download</a> {# url 'download_card' #}
  {% endcomment %}
  <a class="btn btn-dark me-3" href="{% url 'profile_links' profile.pk %}">Links</a>
  <a class="btn btn-dark me-3" href="{% url 'profile_detail_edit' profile.pk %}">Edit</a>
</div>
{% endif %}

{# heading and pic #}
<div class="container p-3 mb-3 d-md-flex">
  <div class="me-5 mb-3 d-flex flex-column">
    {% include 'profile/partials/photo.html' with profile=profile %}
  </div>

  <div class="justify-content-left flex-wrap">
    {% include 'profile/partials/header.html' with profile=profile %}
  </div>
</div>

{# content #}
<div class="container" id="profile-content">
  {% include 'profile/partials/content.html' with profile=profile %}
</div>

{% endblock %}

{% block domready %}
{% if request.user == profile.user %}
$('#contents').sortable({
  stop: function(event, ui) {
    contents_order = {};
    $('#contents').children().each(function() {
      // update order field
      $(this).find('.order').text($(this).index() + 1);
      // associate the content's id with its order
      contents_order[$(this).data('id')] = $(this).index();
    });
    $.ajax({
      type: 'POST',
      url: '{% url 'content_order' %}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
        data: JSON.stringify(contents_order)
    });
  }
});
{% endif %}
{% endblock %}