{% extends "base.html" %}
{% load static %}
{% load profile_extras %}

{% block dochead %}
{{ block.super }}
<meta name="robots" content="noindex">
{% endblock dochead %}

{% block title %}
{{ profile.title }} Profile
{% endblock %}

{% block content %}
<h4 class="mb-3">
    <a href="{% url 'profile_list' %}" class="text-reset text-decoration-none d-inline-flex align-items-center">
        <svg width="20" height="20" class="bi" fill="currentColor">
            <use href="{% static 'svg_spiritsheet.svg' %}#chevron-left"></use>
        </svg>
        Profiles
    </a>
</h4>

{# user profile details #}
<div class="mb-3 p-2 position-relative border rounded border-secondary">
  <h4 class="mb-1">{{ profile.title }}</h4>
  <p class="my-0 text-muted">Kind: {{ profile.get_kind_display }}</p>
  {% if profile.description %}
  <p class="mt-2 mb-0">{{ profile.description }}</p>
  {% endif %}

  <span class="position-absolute top-0 end-0">
    <a
            href="{% url 'profile_edit' profile.pk %}"
            class="btn btn-sm btn-outline-light border border-0 rounded"
            role="button"
            title="Edit">
      <svg class="bi" width="16" height="16">
          <use href="{% static 'svg_spiritsheet.svg' %}#pencil-square"></use>
      </svg>
    </a>
  </span>
</div>

{# from bootstrap https://htmx.org/examples/modal-bootstrap/ #}
{# share profile modal and update image #}
<div
        id="share-modal"
        class="modal modal-blur fade"
        style="display: none"
        aria-hidden="false"
        tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div
        id="update-img-model"
        class="modal modal-blur fade"
        style="display: none"
        aria-hidden="false"
        tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="container">
  {# heading and pic #}
  <div class="container p-3 mb-3 d-md-flex">
    <div class="me-5 mb-3 d-flex flex-column">
      <div class="position-relative" style="max-width: 200px;">
        {% include 'profile/partials/photo.html' with profile=profile %}

        {% if profile.photo %}
        <span class="position-absolute top-0 start-0 dropdown">
          {% include 'partials/dropdown_button.html' %}
          <ul class="dropdown-menu">
            <li>
              <button
                hx-get="{% url 'update_profile_img' profile.pk %}"
                hx-target="#update-img-model"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#update-img-model"
                class="dropdown-item">
                Update
              </button>
            </li>
            <li>
              <form
                      method="post"
                      onsubmit="return confirm('Are you sure you wish to delete your profile picture?');"
                      action="{% url 'profile_img_delete' profile.pk %}">
                <button class="dropdown-item btn btn-link link-danger" type="submit" value="deleted">Delete</button>
                {% csrf_token %}
              </form>
            </li>

          </ul>
        </span>
        {% else %}
        <span class="position-absolute top-50 start-50 translate-middle">
          <button
            hx-get="{% url 'update_profile_img' profile.pk %}"
            hx-target="#update-img-model"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#update-img-model"
            class="btn btn-outline-light"
            title="Add photo">
            <svg class="bi" width="28" height="28" fill="currentColor">
              <use href="{% static 'svg_spiritsheet.svg' %}#plus"></use>
            </svg>
          </button>
        </span>
        {% endif %}
      </div>
    </div>

    <div class="position-relative w-100">
      <div class="justify-content-left flex-wrap">
        {% include 'profile/partials/header.html' with profile=profile %}
      </div>

      {% if request.user == profile.user %}
      <span class="position-absolute top-0 end-0">
        <a
                href="{% url 'profile_detail_edit' profile.pk %}"
                class="btn btn-sm btn-outline-light border border-0 rounded"
                role="button"
                title="Edit">
          <svg class="bi" width="16" height="16">
              <use href="{% static 'svg_spiritsheet.svg' %}#pencil-square"></use>
          </svg>
        </a>
      </span>
      {% endif %}
    </div>
  </div>

  {# content #}
  <div class="container" id="profile-content">
    <div class="mb-3">
      <a href="{% url 'profile_content_select' profile.pk %}" class="btn btn-secondary">
        Add Content
      </a>
      <a href="{% url 'profile_links' profile.pk %}" class="btn btn-secondary">
        Manage Links
      </a>
      <div class="btn-group">
        <button
                hx-get="{% url 'share' profile.pk %}"
                hx-target="#share-modal"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#share-modal"
                class="btn btn-secondary d-flex align-items-center">
          <svg width="16" height="16" class="bi me-2" fill="currentColor">
            <use href="{% static 'svg_spiritsheet.svg' %}#qr-code-scan"></use>
          </svg>
          Share
        </button>
        <button
                type="button"
                class="btn btn-secondary dropdown-toggle dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-reference="parent">
          <span class="visually-hidden">Toggle Share Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          {% for link in profile.links.all %}
          {% if not link.is_expired %}
          <li>
            <button
              type="button"
              hx-get="{% url 'link_share' profile.pk link.pk %}"
              hx-target="#share-modal"
              hx-trigger="click"
              data-bs-toggle="modal"
              data-bs-target="#share-modal"
              class="dropdown-item">
              <svg width="16" height="16" class="bi me-2" fill="currentColor">
                <use href="{% static 'svg_spiritsheet.svg' %}#qr-code-scan"></use>
              </svg>
              {{ link.label }}
            </button>
          </li>
          {% endif %}
          {% endfor %}
          <li><hr class="dropdown-divider"></li>
          <li>
            <a href="{% url 'profile_link_create' profile.pk %}" class="dropdown-item">
              <svg width="16" height="16" class="bi me-2" fill="currentColor">
                <use href="{% static 'svg_spiritsheet.svg' %}#plus"></use>
              </svg>
              New Link
            </a>
          </li>
        </ul>
      </div>
      {% comment %}
      <button
          hx-get="#" {# url share #}
          hx-target="#modals-here"
          hx-trigger="click"
          data-bs-toggle="modal"
          data-bs-target="#modals-here"
          class="dropdown-item">Share</button>
      {% endcomment %}
    </div>

    {% with contents=profile.contents.all %}
    {% if contents %}
    <ul id="contents" class="ps-0">
      {% for content in contents %}
      {% with item=content.item %}
      <li class="card mb-3 overflow-x-scroll" data-id="{{ content.pk }}" id="content{{ content.pk }}">
        <div class="card-body p-2 d-flex justify-content-between align-items-center">
          <div class="card-text ms-2 me-auto overflow-auto w-100">
            {{ item.render|safe }}
            {% with attached=content.subcontents.all %}
            {% if attached %}
            <ul id="attachments{{ content.pk }}" class="list-group list-group-flush">
              {% for att in attached %}
              <li class="list-group-item" data-id="{{ att.pk }}" id="attached{{ att.pk }}">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="me-auto overflow-auto w-100">
                    {{ att.item.render }}
                  </div>

                  <div class="align-self-start me-1 btn-group dropdown-start">
                    <button type="button" class="me-2 btn btn-sm btn-outline-light border border-0 rounded" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg width="16" height="16" class="bi">
                        <use href="{% static 'svg_spiritsheet.svg' %}#three-dots"></use>
                      </svg>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                                href="{% url 'profile_content_update' profile.pk att.item.model_name|lower att.item.pk %}"
                                class="dropdown-item"
                                role="button"
                                title="Edit">
                          <svg class="bi" width="16" height="16">
                            <use href="{% static 'svg_spiritsheet.svg' %}#pencil-square"></use>
                          </svg>
                          Edit
                        </a>
                      </li>
                      <li>
                        <form
                                method="post"
                                onsubmit="return confirm('Are you sure you wish to delete this from your profile?');"
                                action="{% url 'content_content_delete' profile.pk att.pk %}">
                          <button class="dropdown-item btn btn-link link-danger" type="submit" value="deleted" title="Delete">
                            <svg class="bi text-danger" width="16" height="16" fill="currentColor">
                              <use href="{% static 'svg_spiritsheet.svg' %}#trash"></use>
                            </svg>
                            Delete
                          </button>
                          {% csrf_token %}
                        </form>
                      </li>
                    </ul>

                    {% if attached|length != 1 %}
                    <div class="attachmenthandle{{ content.pk }} grabbable d-flex align-items-center"> <!-- d-flex align-items-center justify-content-center mb-1"> -->
                      <svg class="bi" width="16" height="16">
                        <use href="{% static 'svg_spiritsheet.svg' %}#arrows-expand"></use>
                      </svg>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
          </div>

          <div class="align-self-start me-1 btn-group dropdown-start">
            <button type="button" class="me-2 btn btn-sm btn-outline-light border border-0 rounded" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="16" height="16" class="bi">
                    <use href="{% static 'svg_spiritsheet.svg' %}#three-dots"></use>
                </svg>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a
                        href="{% url 'profile_content_update' profile.pk item.model_name|lower item.pk %}"
                        class="dropdown-item"
                        role="button"
                        title="Edit">
                  <svg class="bi" width="16" height="16">
                      <use href="{% static 'svg_spiritsheet.svg' %}#pencil-square"></use>
                  </svg>
                  Edit
                </a>
              </li>
              <li>
                <a
                        href="{% url 'content_content_select' profile.pk content.pk %}"
                        class="dropdown-item" {# btn btn-sm btn-outline-light border border-0 rounded #}
                        title="Attach content">
                  <svg class="bi" width="16" height="16">
                      <use href="{% static 'svg_spiritsheet.svg' %}#file-earmark-plus"></use>
                  </svg>
                  Attach content
                </a>
              </li>
              <li>
                <form
                        method="post"
                        onsubmit="return confirm('Are you sure you wish to delete this from your profile?');"
                        action="{% url 'profile_content_delete' profile.pk item.model_name|lower content.pk %}">
                  <button class="dropdown-item btn btn-link link-danger" type="submit" value="deleted" title="Delete">
                    <svg class="bi text-danger" width="16" height="16" fill="currentColor">
                        <use href="{% static 'svg_spiritsheet.svg' %}#trash"></use>
                    </svg>
                    Delete
                  </button>
                  {% csrf_token %}
                </form>
              </li>
            </ul>

            {% if contents|length != 1 %}
            <div class="contenthandle grabbable d-flex align-items-center"> <!-- d-flex align-items-center justify-content-center mb-1"> -->
              <svg class="bi" width="16" height="16">
                  <use href="{% static 'svg_spiritsheet.svg' %}#arrows-expand"></use>
              </svg>
            </div>
            {% endif %}
          </div>
        </div>
      </li>
      {% endwith %}
      {% endfor %}
    </ul>

    {% else %}
    <div class="card-body">
      <p class="card-text">There's no content in this profile yet</p>
    </div>
    {% endif %}
    {% endwith %}

  </div>
</div>
{% endblock %}

{% block domready %}
$('#contents').sortable({
  handle: ".contenthandle",
  opacity: 0.7,
  stop: function(event, ui) {
    contents_order = {};
    $('#contents').children().each(function() {
      {% comment %}
      // update order field
      //$(this).find('.contentorder').text($(this).index() + 1);
      // associate the content's id with its order
      {% endcomment %}
      contents_order[$(this).data('id')] = $(this).index();
    });
    json_data = {};
    json_data['content'] = contents_order;
    $.ajax({
      type: 'POST',
      url: '{% url 'content_order' %}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
        data: JSON.stringify(json_data)
    });
  }
});

{% with contents=profile.contents.all %}
{% if contents %}
{% for content in contents %}
{% with attached=content.subcontents.all %}
{% if attached %}
{% if attached|length > 1 %}

$('#attachments{{ content.pk }}').sortable({
  handle: ".attachmenthandle{{ content.pk }}",
  opacity: 0.7,
  stop: function(event, ui) {
    contents_order = {};
    $('#attachments{{ content.pk }}').children().each(function() {
      contents_order[$(this).data('id')] = $(this).index();
    });
    json_data = {};
    json_data['attachments'] = contents_order;
    $.ajax({
      type: 'POST',
      url: '{% url 'content_order' %}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
        data: JSON.stringify(json_data)
    });
  }
});

{% endif %}
{% endif %}
{% endwith %}
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}