{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Edit your profile{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" id="form-container">
{% csrf_token %}
<div class="container mb-3 d-inline-flex">
  <input class="btn btn-primary" type="submit" value="Save changes">
</div>

{% with cform=card_form %}
{% with pform=profile_form %}
{{ cfor.non_field_errors }}
{{ pform.non_field_errors }}
<div class="container mb-3 d-md-flex border-bottom">
  <div class="me-5 mb-3">
    {% thumbnail profile_pic "200x200" crop="center" as im %}
    <img id="PHOTO" class="rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="profile photo">
    {# {% empty %} #}
    {% endthumbnail %}
  </div>
  <div class="justify-content-left flex-wrap">
    <div class="row align-items-left g-1 mb-3">
      <div class="col-auto">{{ cform.prefix.label }}{{ cform.prefix }}</div>
      <div class="col-auto d-flex">
        <div>{{ cform.first_name.label }}{{ cform.first_name }}</div>
        <div class="px-1">{{ cform.middle_name.label }}{{ cform.middle_name }}</div>
        <div>{{ cform.last_name.label }}{{ cform.last_name }}</div>
      </div>
      <div class="col-auto mb-1">{{ cform.suffix.label }}{{ cform.suffix }}</div>
    </div>

    <div class="mb-3">
      {{ pform.headline.label }}
      {{ pform.headline }}
    </div>

    <div class="row align-items-left mb-3">
      <div class="row">
        <div class="col-auto">
          {{ pform.location.label }}
          {{ pform.location }}
        </div>
        <div class="col-auto">
          {{ cform.nickname.label }}
          {{ cform.nickname }}
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
      {{ pform.about.label }}
      {{ pform.about }}
    </div>
  </div>
</div>
{% endwith %} {# end pform #}

<div class="container mb-3">
  <p>
    <label for="{{ cform.kind.id_for_label }}">Card type:</label>
    {{ cform.kind }} {{ cform.kind.errors }}
  </p>

  <div class="card mb-3">
    <div class="card-header">
      Phone
    </div>
    <ul id="phone-form-container" class="list-group list-group-flush">
      {{ phone_formset.management_form }}
      {% for form in phone_formset %}
      <li class="phone-form list-group-item">
        {{ form.as_div }}
      </li>
      {% endfor %}
    </ul>
    <div class="card-footer">
      <button id="add-phone-form" class="btn btn-outline-primary" type="button">
        Add Phone
      </button>
    </div>
  </div>

  <!-- todo: remove the delete button on new forms using if form.instance.pk render form.DELETE -->
  <div class="card mb-3">
    <div class="card-header">
      Email
    </div>
    <ul id="email-form-container" class="list-group list-group-flush">
      {{ email_formset.management_form }}
      {% for form in email_formset %}
      <li class="email-form list-group-item">
        {{ form.as_p }}
      </li>
      {% endfor %}
    </ul>
    <div class="card-footer">
      <button id="add-email-form" class="btn btn-outline-primary" type="button">
        Add Email
      </button>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      URLs
    </div>
    <ul id="url-form-container" class="list-group list-group-flush">
      {{ url_formset.management_form }}
      {% for form in url_formset %}
      <li class="url-form list-group-item">
        {{ form.as_p }}
      </li>
      {% endfor %}
    </ul>
    <div class="card-footer">
      <button id="add-url-form" class="btn btn-outline-primary" type="button">
        Add URL
      </button>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      Mailing
    </div>
    <ul id="address-form-container" class="list-group list-group-flush">
      {{ address_formset.management_form }}
      {% for form in address_formset %}
      <li class="address-form list-group-item">
        {{ form.as_p }}
      </li>
      {% endfor %}
    </ul>
    <div class="card-footer">
      <button id="add-address-form" class="btn btn-outline-primary" type="button">
        Add Address
      </button>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      Organizational
    </div>
    <div class="card-body">
      <h5 class="card-title">Titles</h5>
      <ul id="title-form-container" class="card-text">
        {{ title_formset.management_form }}
        {% for form in title_formset %}
        <li class="title-form">
          {{ form.as_p }}
        </li>
        {% endfor %}
      </ul>
      <div class="card-text">
        <button id="add-title-form" class="btn btn-outline-primary mb-3" type="button">
          Add Title
        </button>
      </div>

      <h5 class="card-title">Organizations</h5>
      <ul id="org-form-container" class="card-text">
        {{ org_formset.management_form }}
        {% for form in org_formset %}
        <li class="org-form">
          {{ form.as_p }}
        </li>
        {% endfor %}
      </ul>
      <div class="card-text">
        <button id="add-org-form" class="btn btn-outline-primary mb-3" type="button">
          Add Organization
        </button>
      </div>

      <h5 class="card-title">Roles</h5>
      <ul id="role-form-container" class="card-text">
        {{ role_formset.management_form }}
        {% for form in role_formset %}
        <li class="role-form">
          {{ form.as_p }}
        </li>
        {% endfor %}
      </ul>
      <div class="card-text">
        <button id="add-role-form" class="btn btn-outline-primary mb-3" type="button">
          Add Role
        </button>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      Personal
    </div>
    <div class="card-body">
      <p class="card-text">
        {{ cform.birthday.label_tag }}{{ cform.birthday }} {{ cform.birthday.errors }}
        {{ cform.birthday_year.label_tag }} {{ cform.birthday_year }} {{ cform.birthday_year.errors }}
      </p>
      <p>
        {{ cform.anniversary.label_tag }} {{ cform.anniversary }} {{ cform.anniversary.errors }}
        {{ cform.anniversary_year.label_tag }} {{ cform.anniversary_year }} {{ cform.anniversary_year.errors }}
      </p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      Tags
    </div>
    <div id="tag-form-container" class="card-body">
      {{ tag_formset.management_form }}
      {% for form in tag_formset %}
      <div class="tag-form">
        {{ form.as_p }}
      </div>
      {% endfor %}
    </div>
    <div class="card-body">
      <button id="add-tag-form" class="btn btn-outline-primary mb-3" type="button">
        Add Tag
      </button>
    </div>
  </div>

  <div class="cardGroup">
    <h3>Note</h3>
    {{ cform.note }} {{ cform.note.errors }}
  </div>
  {% endwith %} {# end cform #}
</div>
</form>
<script src="{% static 'js/edit_profile.js' %}"></script>
{% endblock %}
