{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile Links
{% endblock %}

{% block content %}
<h3>
    <a href="{% url 'profile' profile.pk %}">{{ profile.title }}</a>
    Profile Links
</h3>
<a href="{% url 'profile_link_create' profile.pk %}" class="btn btn-primary">
    New link
</a>

{% if links %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Link</th>
                <th scope="col">Views</th>
                <th scope="col">Expires After</th>
                <th scope="col">Last Viewed</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr {% if link.expired %}class="table-secondary text-muted"{% endif %}>
                <th scope="row">{{ link.label }}</th>
                <td>
                    <div class="border rounded d-inline-flex p-1 mb-2 {% if not link.expired %}user-select-all{% endif %}">
                        {% if not link.expired %}
                        <span
                                class="text-body px-1"
                                style="cursor: pointer;"
                                onclick="copyTextToClipboard('shareLink{{ link.pk }}')"
                                tabindex="0"
                                data-bs-container="body"
                                data-bs-toggle="popover"
                                data-bs-trigger="focus"
                                data-bs-placement="top"
                                data-bs-content="Link copied"
                        >
                            <svg width="16" height="16" class="bi" fill="currentColor">
                                <use href="{% static 'svg_spiritsheet.svg' %}#copy"></use>
                            </svg>
                        </span>
                        {% endif %}
                        <p id="shareLink{{ link.pk }}" class="m-0 me-1">
                            {{ url_prefix }}{{ link.get_shareable_url }}
                        </p>
                    </div>
                </td>
                <td>
                    {{ link.views }}
                    {% if link.max_views %}of {{ link.max_views }}{% endif %}
                </td>
                <td>
                    {% if link.expires %}
                    {{ link.expires }}
                    {% elif not link.max_views %}
                    Never Expires
                    {% else %}
                    --
                    {% endif %}
                </td>
                <td>{{ link.last_viewed|date:"Y-m-d f A" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<script src="{% static 'js/copy_to_clip.js' %}"></script>
{% endblock %}

{% block domready %}
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
{% endblock %}