{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}My Profiles{% endblock %}

{% block content %}
<div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
    <h2>My Profiles</h2>
    <a href="{% url 'profile_create' %}" class="btn btn-primary">
        New Profile
    </a>
</div>

<div class="d-flex flex-wrap g-3 justify-content-left">
    {% for p in profiles %}
    {% include 'profile/partials/preview_card.html' with profile=p %}
    {% empty %}
    <p><a href="{% url 'profile_create' %}">Setup your first profile to get started</a></p>
    {% endfor %}
</div>

{% endblock %}