{% extends 'center_card.html' %}

{% block title %}
Create Profile Link
{% endblock %}

{% block card %}
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <div>{{ field.label }}
                {% if field.field.widget.input_type == 'checkbox' %}
                {{ field }}</div>
                {% else %}</div>{{ field }}
                {% endif %}
                <div class="text-muted mb-3" id="{{ field.auto_id }}_helptext">
                    {{ field.field.help_text|safe }}
                </div>
            </div>
            {% endfor %}
        </div>

        <div>
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a href="{% url 'profile' profile_pk %}" class="btn btn-secondary">
                Cancel
            </a>
        </div>
    </form>
</div>

{% if form.non_field_errors %}
<div class="card-footer">
    <ul>
        {% for e in form.non_field_errors %}
        <li>{{ e }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block footer %}{% endblock %}