{% extends "base.html" %}
{% load static %}

{% block title %}
Edit profile
{% endblock %}

{% block content %}
<h2>Select content to include in profile</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Save">
        <a href="{% url 'profile' profile_pk %}" class="btn btn-secondary">Cancel</a>
    </div>

    {% for form in forms %}
    <div class="card mb-3">
        <div class="card-header">
            <p class="fs-5 card-text">{{ form.model_choice.label }}</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for c in form.model_choice %}
            <li class="list-group-item">
                {{ c }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</form>
<a href="#" class="btn btn-primary">Create New Content</a>
{% endblock %}