{% extends "base.html" %}
{% load static %}

{% block title %}
Select Content - {{ profile.title }} Profile
{% endblock %}

{% block content %}
<h2>Select content for your <span class="fst-italic">{{ profile.title }}</span> profile.</h2>

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="container fixed-bottom">
            <div class="p-3 rounded bg-dark">
                <input class="btn btn-primary" type="submit" value="Save">
                <a href="{% url 'profile' profile.pk %}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>

        <h4 class="mt-4 mb-3">Existing</h4>

        <div class="card mb-3">
            <div class="card-body">
                {% for form in forms %}
                <p class="card-text fs-5 mb-1">{{ form.model_choice.label }}</p>
                <ul class="list-group list-group-flush {% if not forloop.last %}border-bottom mb-3{% endif %}">
                    {% for c in form.model_choice %}
                    <li class="list-group-item">
                        {{ c }}
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </form>
</div>

<div class="container">
    <h4 class="mt-4 mb-3">New</h4>
    {% include 'manage/partials/add_item_list.html' with content_categories=content_categories profile_pk=profile.pk %}
</div>

{% endblock %}