{% extends "base.html" %}
{% load static %}

{% block title %}
{% if object %}
Edit profile "{{ object.title }}"
{% else %}
Create profile
{% endif %}
{% endblock %}

{% block content %}
<form method="post" id="form-container">
    {% csrf_token %}
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3 border-bottom">
        <h2>
            {% if object %}
            Edit profile "{{ object.title }}"
            {% else %}
            Create profile
            {% endif %}
        </h2>
        <p><input class="btn btn-primary" type="submit" value="Save changes"></p>
    </div>

    <div class="container">
        {{ form.title.label }}{{ form.title }}{{ form.title.errors }}
        {{ form.description.label }}{{ form.description }}{{ form.description.errors }}
        {{ form.kind.label }}{{ form.kind }}{{ form.kind.errors }}
    </div>

    {% if form.non_field_errors %}
    <ul>
        {% for e in form.non_field_errors %}
        <li class="text-danger">{{ e }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container mb-3 d-md-flex border-bottom">
      <div class="me-5 mb-3">
          <img id="PHOTO" class="rounded" src="/media/users/no_image.png" width="200" height="200" alt="profile photo">
      </div>
      <div class="justify-content-left flex-wrap">
        <div class="row align-items-left g-1 mb-3">
          <div class="col-auto">{{ form.prefix.label }}{{ form.prefix }}{{ form.prefix.errors }}</div>
          <div class="col-auto d-flex">
            <div>{{ form.first_name.label }}{{ form.first_name }}{{ form.first_name.errors }}</div>
            <div class="px-1">{{ form.middle_name.label }}{{ form.middle_name }}{{ form.middle_name.errors }}</div>
            <div>{{ form.last_name.label }}{{ form.last_name }}{{ form.last_name.errors }}</div>
          </div>
          <div class="col-auto mb-1">{{ form.suffix.label }}{{ form.suffix }}{{ form.suffix.errors }}</div>
        </div>

        <div class="mb-3">
          {{ form.headline.label }}
          {{ form.headline }}
          {{ form.headline.errors }}
        </div>

        <div class="row align-items-left mb-3">
          <div class="row">
            <div class="col-auto">
              {{ form.location.label }}
              {{ form.location }}
              {{ form.location.errors }}
            </div>
            <div class="col-auto">
              {{ form.nickname.label }}
              {{ form.nickname }}
              {{ form.nickname.errors }}
            </div>
          </div>
        </div>

        <div class="d-flex flex-wrap mb-3">
          {{ form.about.label }}
          {{ form.about }}
          {{ form.about.errors }}
        </div>
      </div>
    </div>
</form>
{% endblock %}