{% extends "base.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="align-self-center">
    <div class="d-flex justify-content-center mb-3">
      <img src="{% static 'images/favicon.webp' %}" alt="Contacts Logo" width="48" height="48" class="">
    </div>
    <div class="card shadow" style="width: 18rem;">
      <form method="post">
        <div class="card-header">
          <h5 class="card-title">Reset your password</h5>
          <p>Forgot your password? Enter your email address to reset your password.</p>
        </div>
        <div class="card-body text-center">
          <p>{{ form.email.label }} {{ form.email.errors }}</p>
          <p>{{ form.email }}</p>
          {% csrf_token %}
        </div>
        <div class="card-footer d-flex flex-wrap">
          {% if form.non_field_errors %}
          <ul>
            {% for e in form.non_field_errors %}
            <li class="text-danger">{{ e }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <p><input class="btn btn-primary" type="submit" value="Send e-mail"></p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}