{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Connections{% endblock %}

{% block content %}
<div class="content-header">
  <h1>Connections</h1>
  <a href="#">Add Card</a>
</div>
<div id="connection-list">
  {% for connection in connections %}
  <div class="profile">
    <a href="{{ connection.get_absolute_url }}">
      {% thumbnail connection.profile_to.photo "100x100" crop="center" as im %}
        <img class="profilePhoto" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ connection.profile_to.card.FN }} profile photo">
      {% empty %}
        <div class="profilePhoto container small">{{ connection.profile_to.card.first_name|slice:"1" }}{{ connection.profile_to.card.last_name|slice:"1" }}</div>
      {% endthumbnail %}
    </a>
    <div class="text-container">
      <a href="{{ connection.get_absolute_url }}" class="title">
        {{ connection.profile_to.card.FN }}
      </a>
      <p>{{ connection.profile_to.headline }}</p>
    </div>
  </div>
  <!-- todo something with empty -->
  {% endfor %}
</div>
{% endblock %}
