{% if request.user == profile.user %}
<div class="card-header">
  <a href="{% url 'profile_content_select' profile.pk %}" class="btn btn-secondary btn-sm">Add Content</a>
</div>
{% endif %}

{% with contents=profile.contents.all %}
{% if contents %}

<ul id="contents" class="list-group list-group-flush">
{% for content in contents %}
{% with item=content.item %}
<li class="list-group-item overflow-auto" data-id="{{ content.pk }}">
  <span class="text-muted order" hidden>{{ content.order|add:1 }}</span>
  <div class="d-flex">
    <div class="d-md-flex">
      <div class="card-text">{{ item.render|safe }}</div>
      {% if request.user == profile.user %}
      <div class="d-flex flex-row">
        <form
                method="post"
                onsubmit="return confirm('Are you sure you wish to delete this from your profile?');"
                action="{% url 'profile_content_delete' profile.pk item.model_name|lower content.pk %}">
          <button class="btn btn-danger btn-sm ms-3 me-1" type="submit" value="deleted">Delete</button>
          {% csrf_token %}
        </form>
        <div>
          <a
                  href="{% url 'profile_content_update' profile.pk item.model_name|lower item.pk %}"
                  class="btn btn-secondary btn-sm me-1">
            Edit
          </a>
        </div>
        <div>
          <a
                  href="{% url 'content_content_select' profile.pk content.pk %}"
                  class="btn btn-secondary btn-sm me-1">
            Add Attachments
          </a>
        </div>
      </div>
      {% endif %}
      {% with attached=content.subcontents.all %}
      {% if attached %}
      <ol>
        {% for att in attached %}
        <li>{{ att }}</li>
        {% endfor %}
      </ol>
      {% endif %}
      {% endwith %}
    </div>
  </div>
</li>
{% endwith %}
{% endfor %}
</ul>

{% else %}
<div class="card-body">
  <p class="card-text">There's no content in this profile yet</p>
</div>
{% endif %}
{% endwith %}