{% load profile_extras %}
<div class="card mb-3">
    <div class="card-header">
        {% if object %}
        Edit {{ model }}
        {% else %}
        New {{ model }}
        {% endif %}
    </div>
    <div class="card-body">
        <form
                {% if object %}
                action="{% url 'profile_content_update' profile_pk object|model_name obj.id %}"
                {% else %}
                action="{% url 'profile_content_create' profile_pk model %}"
                {% endif %}
                method="post"
                enctype="multipart/form-data">
            {{ form.as_div }}
            {% csrf_token %}
            <input type="submit" value="Save" />
        </form>
    </div>
</div>