{% load static %}
{% if request.user == profile.user %}
<p><a href="{% url 'profile_content_select' profile.pk %}" class="btn btn-secondary btn-sm">Add Content</a></p>
{% endif %}

{% with contents=profile.contents.all %}
{% if contents %}

<ul id="contents" class="ps-0">
  {% for content in contents %}
  {% with item=content.item %}
  <li class="card mb-3 overflow-x-scroll" data-id="{{ content.pk }}">
    <div class="card-body p-2 d-flex justify-content-between align-items-center">
      <div class="card-text ms-2 me-auto overflow-auto">
        {{ item.render|safe }}
        {% with attached=content.subcontents.all %}
        {% if attached %}
        <ol>
          {% for att in attached %}
          <li>{{ att }}</li>
          {% endfor %}
        </ol>
        {% endif %}
        {% endwith %}
      </div>

      {% if request.user == profile.user %}
      <div class="align-self-start me-1">
        <div class="button-grp d-flex"> <!-- flex-column-reverse flex-md-row"> -->
          <form
                  method="post"
                  onsubmit="return confirm('Are you sure you wish to delete this from your profile?');"
                  action="{% url 'profile_content_delete' profile.pk item.model_name|lower content.pk %}">
            <button class="btn btn-sm btn-outline-light border border-0 rounded" type="submit" value="deleted" title="Delete">
              <svg class="bi text-danger" width="16" height="16" fill="currentColor">
                  <use href="{% static 'svg_spiritsheet.svg' %}#trash"></use>
              </svg>
            </button>
            {% csrf_token %}
          </form>
          <a
                  href="{% url 'profile_content_update' profile.pk item.model_name|lower item.pk %}"
                  class="btn btn-sm btn-outline-light border border-0 rounded"
                  role="button"
                  title="Edit">
            <svg class="bi" width="16" height="16">
                <use href="{% static 'svg_spiritsheet.svg' %}#pencil-square"></use>
            </svg>
          </a>
          <a
                  href="{% url 'content_content_select' profile.pk content.pk %}"
                  class="btn btn-sm btn-outline-light border border-0 rounded"
                  title="Attach content">
            <svg class="bi" width="16" height="16">
                <use href="{% static 'svg_spiritsheet.svg' %}#file-earmark-plus"></use>
            </svg>
          </a>
          {% if contents|length != 1 %}
          <div class="handle grabbable"> <!-- d-flex align-items-center justify-content-center mb-1"> -->
            <svg class="bi" width="16" height="16">
                <use href="{% static 'svg_spiritsheet.svg' %}#arrows-expand"></use>
            </svg>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </li>
  {% endwith %}
  {% endfor %}
</ul>

{% else %}
<div class="card-body">
  <p class="card-text">There's no content in this profile yet</p>
</div>
{% endif %}
{% endwith %}