{% load static %}
{% load thumbnail %}
<div class="card me-3 mb-3" style="width:{{ card_width|default:28 }}rem">
    <div class="card-header">
        <a href="{{ profile.get_absolute_url }}" class="text-reset text-decoration-none">
            <h4 class="mb-1 card-title">{{ profile.title }}</h4>
            <p class="card-subtitle text-muted">Kind: {{ profile.get_kind_display }}</p>
            {% if profile.description %}
            <div class="mt-2 card-text">
                {{ profile.description }}
            </div>
            {% endif %}
        </a>

        <div class="position-absolute top-0 end-0 btn-group">
            <button type="button" class="me-2 btn btn-sm btn-outline-light border border-0 rounded" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="16" height="16" class="bi">
                    <use href="{% static 'svg_spiritsheet.svg' %}#three-dots"></use>
                </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a
                            href="{% url 'list_profile_edit' profile.pk %}"
                            class="dropdown-item"
                            role="button"
                            title="Edit">
                        <svg class="bi" width="16" height="16">
                            <use href="{% static 'svg_spiritsheet.svg' %}#pencil-square"></use>
                        </svg>
                        Edit
                    </a>
                </li>
                <li>
                    <form
                            method="post"
                            onsubmit="return confirm('Are you sure you wish to delete your {{ profile.title }} profile?');"
                            action="{% url 'profile_delete' profile.pk %}">
                        <button class="dropdown-item" type="submit" value="deleted" title="Delete">
                            <svg class="bi text-danger" width="16" height="16" fill="currentColor">
                                <use href="{% static 'svg_spiritsheet.svg' %}#trash"></use>
                            </svg>
                            Delete
                        </button>
                        {% csrf_token %}
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <div class="card-body">
        <a href="{{ profile.get_absolute_url }}" class="text-reset text-decoration-none">
            <div class="d-flex">
                <div class="me-3 d-flex flex-column">
                    {% with profimg=profile.photo %}
                    {% thumbnail profimg "100x100" crop="center" as im %}
                    <img id="PHOTO" class="rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ profile.card.FN }} profile photo">
                    {% empty %}
                    <svg class="rounded" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="100" fill="gray" />
                    </svg>
                    {% endthumbnail %}
                    {% endwith %}
                </div>

                <div class="justify-content-left flex-wrap">
                    <p class="fw-bold mb-1 card-text">{{ profile.fn }}</p>
                    {% if profile.headline %}<p class="card-text mb-1">{{ profile.headline }}</p>{% endif %}
                    {% with nick=profile.nickname loc=profile.location %}
                    {% if nick or loc %}
                    <p class="text-muted card-text mb-1">
                        {% if loc %}
                        {{ loc }}
                        {% endif %}

                        {% if nick and loc %}
                        &#x2022;
                        {% endif %}

                        {% if nick %}
                        "{{ nick }}"
                        {% endif %}
                    </p>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </a>
    </div>
</div>