{% extends "base.html" %}

{% block title %}
{% if item %}
Edit
{% else %}
New
{% endif %}
phone
{% endblock %}

{% block content %}
<h1>
    {% if item %}
    Edit
    {% else %}
    New
    {% endif %}
    phone
</h1>

<form
    {% if object %}
    action="{% url 'item_update' 'phone' object.pk %}"
    {% else %}
    action="{% url 'item_create' 'phone' %}"
    {% endif %}
    method="post"
    enctype="multipart/form-data">
    {{ form.as_div }}
    {% csrf_token %}
    <input type="submit" value="Save" class="btn btn-primary"/>
    <a href="{% url 'content' %}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}