{% extends "manage/item_create_update.html" %}

{% block form %}

{{ form.attachment_type }}
<div class="card-text mb-3">
    <label for="{{ form.url.id_for_label }}" class="form-label">
        External link to {{ model_name }}
    </label>
    {{ form.url }}{{ form.url.errors }}
</div>

<div class="card-text mb-3">
    <label for="{{ form.file.id_for_label }}" class="form-label">
        Or upload a file
    </label>
    {{ form.file }}{{ form.file.errors }}
</div>

<hr />
<div class="card-text mb-3">
    <label for="{{ form.label.id_for_label }}" class="form-label">
        Title
    </label>
    {{ form.label }}{{ form.label.errors }}
</div>

{% if form.non_field_errors %}
<ul>
    {% for e in form.non_field_errors %}
    <li>{{ e }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}