{% extends "manage/item_create_update.html" %}

{% block form %}
{{ form.model_type }} {# hidden #}

<div class="mb-3">

    <label for="{{ form.url.id_for_label }}" class="form-label">
        {% if form.model_type.initial.pk != 1 %}
        {{ form.model_type.initial.title }}
        username
        {% else %}
        Url
        {% endif %}
        <span class="text-muted">(required)</span>
    </label>
    <div class="input-group">
        {% if form.model_type.initial.pk != 1 %}
        <span class="input-group-text" id="basic-addon3">
            {{ form.model_type.initial.netloc }}
        </span>
        {% endif %}
        {{ form.url }}
    </div>
    {% if form.url.errors %}
    <div>
        {{ form.url.errors }}
    </div>
    {% endif %}
</div>
<div class="mb-3">
    {{ form.label.label }}
    {{ form.label }}
</div>
{% if form.non_field_errors %}
<div class="mb-3">
    {{ form.non_field_errors }}
</div>
{% endif %}

{% endblock %}