{% load static %}
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <form method="post" action="{% url 'update_profile_img' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">Update profile photo</h5>
      </div>
      <div class="modal-body">
        {{ form.as_div }}
      </div>
      <div class="modal-footer">
        <input type="submit" value="Update" class="btn btn-primary"/>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>
</div>