{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

{% if entity == 'self' %}
{# from bootstrap https://htmx.org/examples/modal-bootstrap/ #}
{# share profile modal and update image #}
<div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div id="update-img-model"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endif %}

{% if entity == "shared" %}
<div>
  {% if request.user.is_authenticated %}
  {% with suuid=p.share_uuid %}
  <form action="{{ request.build_absolute_uri }}connect/" method="post">
    <button type="submit">Connect</button>
    {% csrf_token %}
  </form>
  {% endwith %}
  {% else %}
  <p></p><a href="{% url 'login' %}?next={{ profile.get_shareable_url }}">Log-in</a> or <a href="{% url 'register' %}">create an account</a> to connect and stay-up-to-date with NAME</p>
  {% endif %}
</div>
{% endif %}

<div class="container content-header">
  <h1>Profile</h1>
  {% if entity == "self" %}
  <button
    hx-get="{% url 'share' %}"
    hx-target="#modals-here"
    hx-trigger="click"
    data-bs-toggle="modal"
    data-bs-target="#modals-here"
    class="btn primary">Share Card</button>
  <a href="{% url 'edit' %}">Edit</a>
  {% endif %}
  {% if entity == "connection" %}<a href="{% url 'edit' %}">Edit</a>{% endif %}
</div>

<div class="container profile">
  <div class="row">
    <div class="col">
      {% thumbnail profile.card.photo "200x200" crop="center" as im %}
      <img id="PHOTO" class="profilePhoto" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ profile.card.FN }} profile photo">
      {% empty %}
      <div class="profilePhoto container large">
        {% with name=vc.n %}
        {% if name %}
        {{ name.value.given|slice:"1" }}{{ name.value.family|slice:"1" }}
        {% else %}
        {{ vc.fn.value|slice:"1" }}
        {% endif %}
        {% endwith %}
      </div>
      {% endthumbnail %}
    </div>

    <div class="col">
      <div class="text-container">
        <p id="FN">
          {{ vc.fn.value }}
        </p>
        {% with nickname=vc.nickname.value %}
        {% if nickname %}
        <div id="NICKNAME">
          {% if nickname %}<p>"{{ nickname }}"</p>{% endif %}
        </div>
        {% endif %}
        {% endwith %}

        {% with headline=profile.headline %}
        {% if headline %}
        <p id="headline">{{ headline }}</p>
        {% endif %}
        {% endwith %}
        {% with location=profile.location %}
        {% if location %}
        <p id="location">{{ location }}</p>
        {% endif %}
        {% endwith %}
        {% with description=profile.description %}
        {% if description %}
        <p id="description">{{ description }}</p>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

<div class="container card">
  <h2>Contact Info</h2>
  <!-- todo: gotta download linked content -->
  {% if entity == "self" %}<a href="{% url 'download_card' %}">Download</a>{% endif %}
  <p><i>{{ vc.kind.value }}</i></p>

  {% with phones=vc.tel_list %}
  {% if phones %}
  <div class="card">
    <div class="card-header">
      Phone{{ phones|pluralize }}
    </div>
    <ul id="TEL", class="list-group list-group-flush">
      {% for phone in phones %}
      <!-- todo: does phone.phone_type return the key or value? -->
      <li class="{{ phone.type_paramlist|join:' ' }} list-group-item">{{ phone.type_param }}: {{ phone.value }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  {% with emails=vc.email_list %}
  {% if emails %}
  <div class="card">
    <div class="card-header">
      Email{{ emails|pluralize }}
    </div>
    <ul id="EMAIL" class="list-group list-group-flush">
      {% for email in emails %}
      <li class="list-group-item">
        <a href="mailto:{{ email.value }}" class="{{ email.type_paramlist|join:' ' }}">{{ email.value }}</a>
        {{ email.type_paramlist|join:", " }}
      </li>
      <!-- TODO: protect mailto links -->
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  {% with urls=vc.url_list %}
  {% if urls %}
  <div class="card">
    <div class="card-header">
      Links
    </div>
    <ul id="URL" class="list-group list-group-flush">
      {% for url in urls %}
      <li class="list-group-item">
        <a href="{{ url.value }}" class="{{ url.type_paramlist|join:' ' }}">{{ url.value }}</a>
        {{ url.type_paramlist|join:', ' }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  {% with addresses=vc.adr_list %}
  {% if addresses %}
  <div class="card">
    <div class="card-header">
      Address{{ addresses|pluralize:"es" }}
    </div>
    <ul id="ADR" class="list-group list-group-flush">
      {% for address in addresses %}
      <li class="list-group-item {{ address.type_paramlist|join:' ' }}">
        <p class="fw-bold">{{ address.type_paramlist|join:', ' }}</p>
        {{ address.value.street }}<br>
        {{ address.value.city }}, {{ address.value.region }} {{ address.value.code }}<br>
        {{ address.value.country }}<br>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  <!-- todo: add org logo -->
  {% with titles=vc.title_list roles=vc.role_list orgs=vc.org_list %}
  {% if titles or roles or orgs %}
  <div class="card">
    <div class="card-header">
      Organizational
    </div>
    <div class="card-body">
      {% if orgs %}
      <h5 class="card-title">Organization{{ orgs|pluralize }}</h5>
      <ul class="card-text">
        {% for org in orgs %}
        {% for o in org.value %}
        <li>{{ o }}</li>
        {% endfor %}
        {% endfor %}
      </ul>
      {% endif %}

      {% if titles %}
      <h5 class="card-title">Title{{ titles|pluralize }}</h5>
      <ul class="card-text">
        {% for title in titles %}
        <li>{{ title.value }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if roles %}
      <h5 class="card-title">Role{{ roles|pluralize }}</h5>
      <ul class="card-text">
        {% for role in roles %}
        <li>{{ role.value }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endwith %}


  {% with bday=vc.bday_list anniv=vc.anniversary_list sex=vc.sex_list gender=vc.gender_list %}
  {% if bday or anniv or sex or gender %}
  <div class="card">
    <div class="card-header">
      Personal
    </div>
    <div class="card-body">
      {% if bday %}
      {% for b in bday %}
      <p id="BDAY" class="card-text">
        <span class="fw-bold">Birthday: </span>
        {{ b.value }}
      </p>
      {% endfor %}
      {% endif %}

      {% if anniv %}
      {% for a in anniv %}
      <p id="ANNIVERARY" class="card-text">
        <span class="fw-bold">Anniversary: </span>
        {{ a.value }}
      </p>
      {% endfor %}
      {% endif %}

      {% if sex or gender %}
      <p id="gender" class="card-text">{{ sex.value }} {{ gender.value }}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endwith %}

  {% with tags=vc.categories_list %}
  {% if tags %}
  <div class="card">
    <div class="card-header">
      Tags
    </div>
    <div id="CATEGORIES" class="card-body">
      {% for taglist in tags %}
      <p class="card-text">{% for tag in taglist.value %}<a href="#" class="{{ tag }}">#{{ tag }}</a> {% endfor %}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}

  {% with notes=vc.note_list %}
  {% if notes %}
  <div class="card">
    <div class="card-header">
      Notes
    </div>
    <div class="card-body">
      {% for note in notes %}
      <p class="card-text">{{ note.value }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endwith %}

</div>

{% endblock %}