{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  <div class="dashboard">
    {% thumbnail request.user.profile.photo "200x200" crop="center" as im %}
      <img class="profilePhoto" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ request.user.username }} profile photo">
    {% empty %}
      <div class="profilePhoto container large">{{ request.user.first_name|slice:"1" }}{{ request.user.last_name|slice:"1" }}</div>
    {% endthumbnail %}
    <p id="fullname">{{ request.user.first_name }} {{ request.user.last_name }}</p>
    <p id="headline">{{ request.user.profile.headline }}</p>
    <p id="company">{{ request.user.profile.company }}</p>
    <p id="jobTitle">{{ request.user.profile.job_title }}</p>
    <p id="location">{{ request.user.profile.location }}</p>
    <p id="primaryEmail">{{ request.user.email }}</p>
    {% if request.user.profile.home_page %}
      <p id="homePage">Home page: <a href="{{ request.user.profile.home_page }}" target="_blank">{{ request.user.profile.home_page }}</a></p>
    {% endif %}
    <p id="dob">{{ request.user.profile.date_of_birth }}</p>
    {% if emails %}
      {% for email in emails %}
      <p>{{ email.email_address }}</p>
      <!-- TODO: display if verified and link to verity -->
      {% endfor %}
    {% endif %}
    {% if phones %}
      {% for phone in phones %}
      <p>{{ phone.phone_type }}: {{ phone.phone_number }}</p>
      {% endfor %}
    {% endif %}
    {% if addresses %}
      {% for address in addresses %}
      <p>{{ address.street1 }}</p>
      <p>{{ address.street2 }}</p>
      <p>{{ address.city }}, {{ address.state }} {{ address.zip }}</p>
      <p>{{ address.country }}</p>
      {% endfor %}
    {% endif %}
    {% if socials %}
      {% for social in socials %}
      <a href="{{ social.url }}" target="_blank">{{ social.url }}</a>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}