{% extends "base.html" %}
{% load static %}

{% block title %}Edit your profile{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" id="form-container">
  <div class="content-header">
    {% if mode == "edit" %}<h1>Edit Card</h1>{% endif %}
    {% if mode == "new" %}<h1>New Card</h1>{% endif%}
    {% if mode == "self" %}<h1>Edit your profile and card</h1>{% endif %}
    <!-- todo: update to display different if creating new -->
    {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
  </div>

  <div class="profile">
      {% with vform=vcard_form %}
      <div class="profilePhoto">
        <!-- todo: this ain't pretty -->
        {{ vform.photo }}
      </div>
      <div class="text-container">
        <p>{{ vform.prefix.label_tag }} {{ vform.prefix }} {{ vform.prefix.errors }}</p>
        <p>{{ vform.first_name.label_tag }} {{ vform.first_name }} {{ vform.first_name.errors }}</p>
        <p>{{ vform.middle_name.label_tag }} {{ vform.middle_name }} {{ vform.middle_name.errors }}</p>
        <p>{{ vform.last_name.label_tag }} {{ vform.last_name }} {{ vform.last_name.errors }}</p>
        <p>{{ vform.suffix.label_tag }} {{ vform.suffix }} {{ vform.suffix.errors }}</p>
        <p>{{ vform.nickname.label_tag }} {{ vform.nickname }} {{ vform.nickname.errors }}</p>

        {% with pform=profile_form %}
        {% if pform %}
        <p>{{ pform.headline.label_tag }} {{ pform.headline }} {{ pform.headline.errors }}</p>
        <p>{{ pform.location.label_tag }} {{ pform.location }} {{ pform.location.errors }}</p>
        <p>{{ pform.description.label_tag }} {{ pform.description }} {{ pform.description.errors }}</p>
        {% endif %}
        {% endwith %}
      </div>
    </div>

    <div class="vcard">
      <h2>Contact Info</h2>
      <p>{{ vform.kind.label_tag }} {{ vform.kind }} {{ vform.kind.errors }}</p>
      
      <div class="vcardGroup">
        <h3>Phone</h3>
        <div id="phone-form-container">
          {{ phone_formset.management_form }}
          {% for form in phone_formset %}
          <div class="phone-form">
            {{ form.as_div }}
          </div>
          {% endfor %}
          <button id="add-phone-form" type="button">Add Phone</button>
        </div>
      </div>

      <!-- todo: remove the delete button on new forms using if form.instance.pk render form.DELETE -->
      <div class="vcardGroup">
        <h3>Email</h3>
        <div id="email-form-container">
          {{ email_formset.management_form }}
          {% for form in email_formset %}
          <div class="email-form">
            {{ form.as_div }}
          </div>
          {% endfor %}
          <button id="add-email-form" type="button">Add Email</button>
        </div>
      </div>

      <div class="vcardGroup">
        <h3>URLs</h3>
        <div id="url-form-container">
          {{ url_formset.management_form }}
          {% for form in url_formset %}
          <div class="url-form">
            {{ form.as_div }}
          </div>
          {% endfor %}
          <button id="add-url-form" type="button">Add URL</button>
        </div>
      </div>

      <div class="vcardGroup">
        <h3>Addresses</h3>
        <div id="address-form-container">
          {{ address_formset.management_form }}
          {% for form in address_formset %}
          <div class="address-form">
            {{ form.as_div }}
          </div>
          {% endfor %}
          <button id="add-address-form" type="button">Add Address</button>
        </div>
      </div>

      <div class="vcardGroup">
        <h3>Organization</h3>
        <div id="organization-form-container">
          {{ org_formset.management_form }}
          {% for form in org_formset %}
          <div class="organization-form">
            {{ form.as_div }}
          </div>
          {% endfor %}
          <button id="add-organization-form" type="button">Add Organization</button>
        </div>
      </div>

      <div class="vcardGroup">
        <h3>Personal</h3>
        <div class="text-container">
          <p>{{ vform.birthday.label_tag }}{{ vform.birthday }} {{ vform.birthday.errors }}</p>
          <p>{{ vform.birthday_year.label_tag }} {{ vform.birthday_year }} {{ vform.birthday_year.errors }}</p>
          <p>{{ vform.anniversary.label_tag }} {{ vform.anniversary }} {{ vform.anniversary.errors }}</p>
          <p>{{ vform.anniversary_year.label_tag }} {{ vform.anniversary_year }} {{ vform.anniversary_year.errors }}</p>
          <p>Biological sex: {{ vform.sex }} {{ vform.sex.errors }}</p>
          <p>Gender: {{ vform.gender }} {{ vform.gender.errors }}</p>
        </div>
      </div>

      <div class="vcardGroup">
        <h3>Tags</h3>
        <div id="tag-form-container">
          {{ tag_formset.management_form }}
          {% for form in tag_formset %}
          <div class="tag-form">
            {{ form.as_div }}
          </div>
          {% endfor %}
          <button id="add-tag-form" type="button">Add Tag</button>
        </div>
      </div>

      <div class="vcardGroup">
        <h3>Note</h3>
        {{ vform.note }} {{ vform.note.errors }}
      </div>
      {% endwith %} <!-- end vform -->

  </div>
  </form>
  <script src="{% static "js/edit_profile.js" %}"></script>
{% endblock %}
