{% extends "base.html" %}
{% load static %}

{% block title %}Edit your account{% endblock %}

{% block content %}
  <h1>Edit your account</h1>
  <p>You can edit your account using the following form:</p>
  <form method="post" enctype="multipart/form-data" id="form-container">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    {{ email_formset.management_form }}
      {% for form in email_formset %}
        <div class="email-form">
          {{ form.as_p }}
        </div>
      {% endfor %}
    <button id="add-email-form" type="button">Add Email</button>

    {{ phone_formset.management_form }}
      {% for form in phone_formset %}
        <div class="phone-form">
          {{ form.as_p }}
        </div>
      {% endfor %}
    <button id="add-phone-form" type="button">Add Phone</button>

    {{ address_formset.management_form }}
      {% for form in address_formset %}
        <div class="address-form">
          {{ form.as_p }}
        </div>
        {% endfor %}
    <button id="add-address-form" type="button">Add Address</button>

    {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
  </form>
  <script src="{% static "js/edit.js" %}"></script>
{% endblock %}
