{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="content-header">
    <h1>Profile</h1>
    <a href="{% url "edit" %}">Edit</a>
  </div>

  <div class="profile">
    {% thumbnail request.user.vcard.photo "200x200" crop="center" as im %}
    <img id="PHOTO" class="profilePhoto" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ request.user.vcard.FN }} profile photo">
    {% empty %}
    <div class="profilePhoto container large">{{ request.user.vcard.first_name|slice:"1" }}{{ request.user.vcard.last_name|slice:"1" }}</div>
    {% endthumbnail %}

    <div class="text-container">
      <p id="FN">{{ request.user.vcard.FN }}</p>
      {% with nickname=request.user.vcard.nickname %}
      {% if nickname %}
      <p id="NICKNAME">"{{ nickname }}"</p>
      {% endif %}
      {% endwith %}
      {% with headline=request.user.profile.headline %}
      {% if headline %}
      <p id="headline">{{ headline }}</p>
      {% endif %}
      {% endwith %}
      {% with location=request.user.profile.location %}
      {% if location %}
      <p id="location">{{ location }}</p>
      {% endif %}
      {% endwith %}
      {% with description=request.user.profile.description %}
      {% if description %}
      <p id="description">{{ description }}</p>
      {% endif %}
      {% endwith %}
    </div>
  </div>

  <div class="vcard">
    <h2>Contact Info</h2>
    <p><i>{{ user.vcard.get_kind_display }}</i></p>

    {% with phones=request.user.vcard.phone_set.all %}
    {% if phones %}
    <div class="vcardGroup">
      <h3>Phone</h3>
      <div id="TEL">
        <ul>
          {% for phone in phones %}
          <!-- todo: does phone.phone_type return the key or value? -->
          <li class="{{ phone.phone_type }}">{{ phone.get_phone_type_display }}: {{ phone.phone_number }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    
    {% with emails=request.user.vcard.email_set.all %}
    {% if emails %}
    <div class="vcardGroup">
      <h3>Email</h3>
      <div id="EMAIL">
        <ul>
          {% for email in emails %}
          <li>{{ email.get_email_type_display }}: <a href="mailto:{{ email.email_address }}" class="{{ email.email_type }} INTERNET">{{ email.email_address }}</a></li>
          <!-- TODO: protect mailto links -->
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endwith %}

    {% with urls=request.user.vcard.url_set.all %}
    {% if urls %}
    <div class="vcardGroup">
      <h3>URLs</h3>
      <div id="URL">
        <ul>
          {% for url in urls %}
          <li>{{ url.get_url_type_display }}: <a href="{{ url.url }}" class="{{ url.url_type }}">{{ url.url }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endwith %}

    {% with addresses=request.user.vcard.addresses_set.all %}
    {% if addresses %}
    <div class="vcardGroup">
      <h3>Addresses</h3>
      <div id="ADR">
        <ul>
          {% for address in addresses %}
          <li>
            <div class="{{ address.address_type }}">
              <p class="addressType">{{ address.get_address_type_display }}</p>
              <p class="adrLine1">{{ address.street1 }}</p>
              <p class="adrLine2">{{ address.street2 }}</p>
              <p class="adrLine3">{{ address.city }}, {{ address.state }} {{ address.zip }}</p>
              <p class="country">{{ address.country }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endwith %}

    <!-- todo: add org logo -->
    {% with orgs=request.user.vcard.organization_set.all %}
    {% if orgs %}
    <div class="vcardGroup">
      <h3>Organizations</h3>
      <div id="ORG">
        <ul>
          {% for org in orgs %}
          <li>
            <p><span id="TITLE">{{ org.title }}</span> * <span id="ORG">{{ org.organization }}</span>
            <p><span id="ROLE">{{ org.role }}</span></p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endwith %}


    {% with bday=request.user.vcard.birthday %}
    {% with anniv=request.user.vcard.anniversary %}
    {% with sex=request.user.vcard.sex %}
    {% with gender=request.user.vcard.gender %}
    {% if bday or anniv or sex or gender != "" %}
    <div class="vcardGroup">
      <h3>Personal</h3>
      <div class="text-container">
        <ul>
          {% if bday %}
          {% with bdayy=request.user.vcard.birthday_year %}
          <li id="BDAY">Birthday: {{ bday }}{% if bdayy %}, {{ bdayy }}{% endif %}</li>
          {% endwith %}
          {% endif %}
          {% if anniv %}
          {% with annivy=request.user.vcard.anniversary_year %}
          <li id="ANNIVERARY">Anniversary: {{ anniv }}{% if annivy %}, {{ annivy }}{% endif %}</li>
          {% endwith %}
          {% endif %}
          {% if sex and sex != "" or gender != "" %}
          <li id="gender">{% if sex and sex != "" %}{{ sex }} - {% endif %}{% if gender != "" %}{{ gender }}{% endif %}</li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    {% with note=request.user.vcard.note %}
    {% if note %}
    <div class="vcardGroup">
      <h3>Note</h3>
      <div class="text-container">
        {% if note %}
        <p>{{ note }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endwith %}

  </div>
{% endblock %}