{% extends "center_card.html" %}
{% load static %}
{% load profile_extras %}

{% block title %}
{% if content_pk %}
Edit {{ form.instance|get_verbose_name }}
{% else %}
New {{ form.instance|get_verbose_name }}
{% endif %}
{% endblock %}

{% block card %}

<div class="card-header">
    <div class="d-flex align-items-center justify-content-between">
        <p class="fs-4 mb-0">
            {% if content_pk %}
            Edit {{ form.instance|get_verbose_name }}
            {% else %}
            New {{ form.instance|get_verbose_name }}
            {% endif %}
        </p>
        <svg width="24" height="24" class="float-end">
            <use href="{% static 'svg_spiritsheet.svg' %}#{{ form.instance|get_verbose_name|cut:' '|lower }}"></use>
        </svg>
    </div>
</div>

<div class="card-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            {% block form %}
            {% endblock %}
        </div>

        <div class="">
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a
                    {% if profile_pk %}
                    {% if content_pk %}
                    href="{% url 'profile' profile_pk %}"
                    {% else %}
                    href="{% url 'profile_content_select' profile_pk %}"
                    {% endif %}

                    {% else %}
                    {% if content_pk %}
                    href="{% url 'content' %}"
                    {% else %}
                    href="{% url 'add_item' %}"
                    {% endif %}
                    {% endif %}
                    class="btn btn-secondary">
                Cancel
            </a>
        </div>
    </form>
</div>

{% if content_pk %}
<div class="card-footer">
    <div class="">
        <svg width="16" height="16" fill="currentColor">
            <use href="{% static 'svg_spiritsheet.svg' %}#info"></use>
        </svg>
        This content will be updated on all associated profiles.
    </div>
</div>
{% endif %}

{% endblock %}