{% extends "base.html" %}

{% block title %}
{% if content_pk %}
Edit {{ model_name|title }}
{% else %}
New {{ model_name|title }}
{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if content_pk %}
    Edit {{ model_name|title }}
    {% else %}
    New {{ model_name|title }}
    {% endif %}
</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% block form %}
    {% endblock %}

    <input type="submit" value="Save" class="btn btn-primary"/>
    <a
            {% if profile_pk %}
            href="{% url 'profile' profile_pk %}"
            {% else %}
            href="{% url 'content' %}"
            {% endif %}
            class="btn btn-secondary">
        Cancel
    </a>
</form>

{% endblock %}