{% extends 'profile/partials/models/model_render.html' %}
{% load static %}
{% block objtxt %}
<div class="column">
    <a href="{{ object }}" target="_blank">
        {% if object.model_name == 'Website' %}
        {{ object }}
        <svg width="12" height="12" class="bi" fill="currentColor">
            <use href="{% static 'svg_spiritsheet.svg' %}#box-arrow-up-right"></use>
        </svg>
        {% else %}
        @{{ object.url }}
        {% endif %}
    </a>
    {% if object.label %}<p class="mb-0">{{ object.label }}</p>{% endif %}
</div>
{% endblock %}