{% extends "profile/partials/models/postbase_render.html" %}

{% block postlink %}

{% with org=object.organization link=object.external_link loc=object.location ws=object.get_work_setting_display %}
{% if org or link or loc %}
<p class="card-text">
    {% if org and link %}
    <a href="{{ link }}">{{ org }}</a>
    {% else %}
    {% if org %}{{ org }}{% endif %}
    {% if link %}{{ link|urlize }}{% endif %}
    {% endif %}

    {% if ws %}
    <span class="text-muted">{{ ws }}</span>
    {% else %}
    {% if loc %}
    <span class="text-muted">
        {% if org or link or ws %} | {% endif %}
        {{ loc }}
    </span>
    {% endif %}
    {% endif %}
</p>
{% if ws and loc %}
<p class="card-text">{{ loc }}</p>
{% endif %}
{% endif %}
{% endwith %}

{% endblock %}