{% extends "profile/partials/models/postbase_render.html" %}
{% load static %}
{% block postlink %}

{% with org=object.organization link=object.external_link %}
{% if org or link %}
<p class="mb-1">
    {% if org and link %}
    <a href="{{ link }}" target="_blank">
        {{ org }}
        <svg width="12" height="12" class="bi" fill="currentColor">
            <use href="{% static 'svg_spiritsheet.svg' %}#box-arrow-up-right"></use>
        </svg>
    </a>
    {% else %}
    {% if org %}{{ org }}{% endif %}
    {% if link %}
    <a href="{{ link }}" target="_blank">
        {{ link|truncatechars:35 }}
        <svg width="12" height="12" class="bi" fill="currentColor">
            <use href="{% static 'svg_spiritsheet.svg' %}#box-arrow-up-right"></use>
        </svg>
    </a>
    {% endif %}
    {% endif %}
</p>
{% endif %}
{% endwith %}

{% endblock %}