{% load static %}
<div class="mb-0">
    <h5 class="mb-1">
        {% block posttitle %}
        {{ object.label }}
        {% endblock %}
    </h5>

    {% block postdate %}
    {% if object.date or object.end_date %}
    <p class="mb-1">
        {% if object.date %}
        {{ object.date }}

        {% if object.end_date %}
        - {{ object.end_date }}
        {% else %}
        {% if object.current %} - Present{% endif %}
        {% endif %}

        {% else %}
        {{ object.end_date }}
        {% endif %}
    </p>
    {% endif %}
    {% endblock %}

    {% block postcontent %}{% endblock %}

    {% block postlink %}
    {% if object.external_link %}
    <p class="mb-1">
        {{ object.external_link|urlizetrunc:35 }}
        <svg width="12" height="12" class="bi" fill="currentColor">
            <use href="{% static 'svg_spiritsheet.svg' %}#box-arrow-up-right"></use>
        </svg>
    </p>
    {% endif %}
    {% endblock %}

    {% if object.description %}
    {{ object.description|linebreaks }}
    {% endif %}
</div>