<div class="mb-3">
    <h4 class="card-title">
        {% block posttitle %}
        {{ object.label }}
        {% endblock %}
    </h4>

    {% block postdate %}
    {% if object.date or object.end_date %}
    <h5 class="card-text">
        {{ object.date }}
        {% block dateblock %}
        {% endblock %}
        {% if object.end_date %}
        - {{ object.end_date }}
        {% else %}
        {% if object.current %}
        - Present
        {% endif %}
        {% endif %}
    </h5>
    {% endif %}
    {% endblock %}

    {% block postcontent %}{% endblock %}

    {% block postlink %}
    {% if object.external_link %}
    {{ object.external_link|urlizetrunc:35 }}
    {% endif %}
    {% endblock %}

    {% if object.description %}
    <hr />
    <p class="card-text">{{ object.description }}</p>
    {% endif %}
</div>