{% extends "profile/partials/models/postbase_render.html" %}
{% load static %}
{% block postcontent %}

<div class="mb-1">
    {% if object.contributors %}
    <p class="fw-bold mb-1">{{ object.contributors }}</p>
    {% endif %}

    {% with s=object.source link=object.external_link %}
    {% if s or link %}
    <p class="fst-italic mb-1">
        {% if s and link %}
        <a href="{{ link }}">
            {{ s }}
            <svg width="12" height="12" class="bi" fill="currentColor">
                <use href="{% static 'svg_spiritsheet.svg' %}#box-arrow-up-right"></use>
            </svg>
        </a>
        {% else %}
        {% if s %}{{ s }}{% endif %}
        {% if link %}
        <a href="{{ link }}">
            {{ link }}
            <svg width="12" height="12" class="bi" fill="currentColor">
                <use href="{% static 'svg_spiritsheet.svg' %}#box-arrow-up-right"></use>
            </svg>
        </a>
        {% endif %}
        {% endif %}
    </p>
    {% endif %}
    {% endwith %}
</div>

{% if object.affiliated_institutions %}
<p class="mb-1">Affiliated Institutions: {{ object.affiliated_institutions }}</p>
{% endif %}

{% if object.funding_source %}
<p class="mb-1">Funding from: {{ object.funding_source }}</p>
{% endif %}

{% endblock %}

{% block postlink %}{% endblock %}